appdirs==1.4.3
attrs==19.3.0
backcall==0.1.0
bleach==3.1.5
click==7.1.2
decorator==4.4.2
defusedxml==0.6.0
entrypoints==0.3
Flask==1.1.2
gunicorn==20.0.4
importlib-metadata==1.6.0
ipython==7.13.0
ipython-genutils==0.2.0
itsdangerous==1.1.0
jedi==0.17.0
Jinja2==2.11.2
jsonschema==3.2.0
jupyter-core==4.6.3
MarkupSafe==1.1.1
mistune==0.8.4
nb2pdf==0.4.1
nbconvert==5.6.1
nbformat==5.0.6
nbpdfexport==0.2.1
otter-grader==0.4.7
packaging==20.3
pandocfilters==1.4.2
parso==0.7.0
pexpect==4.8.0
pickleshare==0.7.5
prompt-toolkit==3.0.5
ptyprocess==0.6.0
pyee==7.0.1
Pygments==2.6.1
pyparsing==2.4.7
pyppeteer==0.0.25
pyrsistent==0.16.0
six==1.14.0
testpath==0.4.4
tornado==5.1.1
tqdm==4.45.0
traitlets==4.3.3
urllib3==1.25.9
wcwidth==0.1.9
webencodings==0.5.1
websockets==8.1
Werkzeug==1.0.1
zipp==3.1.0
